{% extends 'base.html' %}
{% load static %}

{% block title %}Fluxograma - PUC Planner{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/fluxograma1.css' %}">
{% endblock %}

{% block content %}
<body class="bg-white text-navy flex flex-col min-h-screen bg-cover bg-center">
<div class="flex flex-col h-screen">
<header class="flex justify-between items-center py-4 bg-navy text-white px-8">
<a href="{% url 'home' %}">
  <div class="text-2xl font-superbold">
    <img src="{% static 'images/logo_puc_planner_fundoazul.svg' %}" width="200px" style="border-radius: 20px;">
</div>
</a>
<h1 class="text-3xl font-medium" style="margin-left: -200px; padding-left: -200px;">Fluxograma</h1>
<button class="text-white">
</button>
</header>
<main class="flex-grow px-6 py-16 flex flex-col items-center justify-center text-center bg-cover bg-center" style="background-image: url('{% static 'images/puc-do-alto-gemini.png' %}');">
<div class="bg-white bg-opacity-80 p-10 rounded-lg flex flex-col items-center">
<p class="text-2xl regular max-w-2xl mb-12 text-navy">
            O objetivo do fluxograma é visualizar, de uma forma mais visual, as dependências entre disciplinas. Para começar, digite o seu curso na barra de pesquisa abaixo.
        </p>
<div class="relative w-full max-w-lg">
<span class="material-icons absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 text-3xl">
                search
            </span>
<input id="course-search" class="w-full pl-14 pr-4 py-4 border-2 border-navy rounded-full text-lg focus:outline-none focus:ring-2 focus:ring-navy" placeholder="Nome do curso" type="text" autocomplete="off"/>
<div id="suggestions-container" class="absolute z-10 w-full bg-white border border-gray-300 rounded-md mt-1 shadow-lg hidden"></div>
</div>
</div>
</main>

{% include 'includes/footer.html' %}
</div>

<script src="{% static 'js/buscaFluxograma.js' %}"></script>
</body>
{% endblock %}
