{% extends 'base.html' %}
{% load static %}

{% block title %}Login - PUC Planner{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
<style>
  body, .login-form, .input-group label, .input-group input, .btn-login, .welcome-text {
    font-family: 'Poppins', sans-serif !important;
  }
</style>
{% endblock %}

{% block content %}
<header class="header-login">
    <div class="logo">
        <img src="{% static 'images/logo_puc_planner_fundoazul.svg' %}" alt="PUC Planner Logo">
    </div>
    <p class="welcome-text">Bem-vindo(a)!</p>
</header>

<main class="content-wrapper">
    <div class="background-image-container"></div>

    <div class="login-container">
        <form class="login-form" method="post">
            {% csrf_token %}
            <h2>Acesso à conta</h2>

            <div class="input-group">
                <label for="matricula">Usuário</label>
                <input type="text" id="matricula" name="matricula" placeholder="Matrícula" required>
            </div>

            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Senha" required>
            </div>

            <button type="submit" class="btn-login">Entrar</button>

            <p class="forgot-password">
                <a href="{% url 'esqueci_senha' %}">Esqueceu sua senha? Deseja cadastrar sua primeira senha?</a>
            </p>
        </form>
    </div>
</main>

{% include 'includes/footer_auth.html' %}
{% endblock %}
